@{
    ViewData["Title"] = "Home Page";
}

<style>

    .main {
        background-color: #4D4DFF;
        color: white;
        margin: 10px;
        padding: 20px 20px;
        align-content: center;
        border-radius: 25px;
        display: inline-block;
        vertical-align: top;
    }
</style>
<div class="text-center">
    <p><img src="~/ImageFolder/CMCSLOGO.png" width="560" height="280">.</p>
    <h2>Contract Monthly Claim System</h2>
</div>
 
<div class="main">
    <p style="text-align: center;">
        <strong>How to work with CMCS:</strong>
    </p>
    <ul>
        <li><strong>Accurate Calculations:</strong> Lecturers can submit claims based on hours worked and hourly wage rates. The system automatically calculates the total earnings, reducing the risk of errors and miscalculations.</li>
        <li><strong>Thorough Review Process:</strong> Claims are subject to approval by both the Programme Coordinator and Academic Manager. This ensures that all submissions are accurate and compliant with internal policies, promoting a higher level of accountability.</li>
        <li><strong>Document Uploads:</strong> CMCS allows lecturers to upload supporting documents, such as timesheets or contracts, making it easier to verify claims and ensure that all necessary paperwork is included in a single submission.</li>
        <li><strong>User-Friendly Interface:</strong> With a seamless design, CMCS enhances user satisfaction by providing lecturers and administrators with an easy-to-navigate platform that simplifies claim submission and approval workflows.</li>
        <li><strong>Improved Efficiency:</strong> By automating calculations and integrating the claim submission process with document uploads and approval workflows, CMCS significantly reduces the time and effort required to manage contract claims.</li>
        <li><strong>Reduced Errors:</strong> The system's structured process mitigates the risk of manual entry errors, improving the reliability and accuracy of data across all claims.</li>
    </ul>
</div>
