@model PROG_P1.Models.Claims

@{
    ViewData["Title"] = "Create";
}
<style>
    .button {
        color: white;
        background-color: #4D4DFF;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        width: auto;
        padding: 10px 20px;
    }

    .formcard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        max-width: 800px;
        background-color: #8D8DFF;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: white;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
        width: 100%;
    }

        .form-group label,
        .form-group input[type="text"],
        .form-group span {
            width: 100%;
            display: block;
        }

        .form-group input[type="text"] {
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            box-sizing: border-box;
            width: 660px;
        }

    hr {
        border: none;
        height: 4px;
        width: 100%;
        color: white;
    }

   
</style>

<hr />
<div class="contact-form">
    <div class="formcard">
        <h1 style="align-self: center">Submit Claim</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Module" class="control-label"></label>
                <input asp-for="Module" class="form-control" />
                <span asp-validation-for="Module" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Hours Worked</label>
                <input asp-for="HoursWorked" class="form-control" />
                <span asp-validation-for="HoursWorked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Hourly Wage</label>
                <input asp-for="HourlyWage" class="form-control" />
                <span asp-validation-for="HourlyWage" class="text-danger"></span>
            </div>
           
            <p>
                <a asp-action="UploadDocument" class="button">Upload Document Supporting Claim</a> <br />
            </p>
           
                <input type="submit" value="Create" class="button" />
            
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
